<div class="container" id="educacion">
    <div class="row text-white  borde-neon mt-4">
        <div class="col-12 text-center ">
            <h2 class="neon3">Educacion</h2>
        </div>
        <div class="col-12 mt-3">
            <ul>
                <li>
                    <h3>Educacion 1</h3> 
                    <p class="año"> ((years)) </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, id? Eum possimus ut fugit cum iusto amet distinctio blanditiis, magni inventore consequatur non est ab. Fugit doloremque voluptate reiciendis quia?</p>
                </li>
                <li>
                    <h3>Educacion 2</h3> 
                    <p class="año"> ((years)) </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, id? Eum possimus ut fugit cum iusto amet distinctio blanditiis, magni inventore consequatur non est ab. Fugit doloremque voluptate reiciendis quia?</p>
                </li>
                <li>
                    <h3>Educacion 3</h3> 
                    <p class="año"> ((years)) </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, id? Eum possimus ut fugit cum iusto amet distinctio blanditiis, magni inventore consequatur non est ab. Fugit doloremque voluptate reiciendis quia?</p>
                </li>
            </ul>
        </div>
    </div>
</div>