<div class="container" id="experiencia">
  <div class="row text-white borde-neon mt-4">
    <div class="col-12 text-center">
      <h2 class="neon3">Experiencia</h2>
    </div>
    <div class="col-lg-">
      <button
        type="button"
        class="btn btn-success"
        routerLink="/nuevaexp"
        *ngIf="isLogged"
      >
        Nueva Experiencia
      </button>
    </div>
    <div class="col-12">
      <table class="table text-white">
        <thead>
          <tr class="fs-2">
            <td>Nombre de la empresa</td>
            <td>Descripcion del puesto</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Experiencia of expe" class="fs-5">
            <td>{{ Experiencia.nombreE }}</td>
            <td>{{ Experiencia.descripcionE }}</td>
            <td *ngIf="isLogged">
              <button
                class="btn btn-warning"
                routerLink="/editexp/{{ Experiencia.id }}"
              >
                <i class="fa-sharp fa-solid fa-pen-to-square"></i> Editar
              </button>
            </td>
            <td *ngIf="isLogged">
              <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                <i class="fa-sharp fa-solid fa-trash"></i> Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
