<div class="container mt-4" id="habilidades">
    <div class="row borde-neon d-flex justify-content-between text-center">
        <div class="col-12 ">
            <span class="text-center">
                <h1 class="neon3 text-white">Hard & SoftSkill</h1>
            </span>
        </div>
        <div class="col-12">
            <button type="button" routerLink="/newskill" *ngIf="isLogged" class="btn btn-success"> 
                Agregar nueva Skill
            </button>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 circulo" *ngFor="let skill of skill">
            <circle-progress 
            [percent]="(skill.porcentaje)" 
            [radius]="100" 
            [imageSrc]="''"
            [title]="(skill.nombre)"
            [titleColor]="'#fff'"
            [showTitle]="true"
            [titleFontSize]="'30'"
            [showImage]="false"
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false" 
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'#20DB24'"
            [innerStrokeColor]="'#000'" 
            [animation]="true" 
            [animationDuration]="800">
            </circle-progress>

           <div>
            <button type="button"  class="btn btn-warning "  routerLink="/editskill/{{skill.id}}" *ngIf="isLogged"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
      
      
            <button class="btn btn-danger" (click)="delete(skill.id)" *ngIf="isLogged">
        <i class="fa-sharp fa-solid fa-trash"></i>
      </button>
           </div>
        </div>
    </div> 
</div>
