<!-- <div class="container mt-4" id="habilidades">
    <div class="row borde-neon d-flex justify-content-between text-center">
        <div class="col-12 ">
            <span class="text-center">
                <h1 class="neon3 text-white">Hard & SoftSkill</h1>
            </span>
        </div>
        <div class="mt-4 col-sm-12 col-md-3 col-lg-3">
            <circle-progress 
            [percent]="90" 
            [radius]="100" 
            [imageSrc]="'/assets/html.png'"
            [showImage]="true"
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false" 
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'#ff8000'"
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <circle-progress 
            [percent]="75" 
            [radius]="100" 
            [imageSrc]="'/assets/css.png'"
            [showImage]="true"
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false" 
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'#007fff'"
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <circle-progress 
            [percent]="75" 
            [radius]="100" 
            [imageSrc]="'/assets/js.png'"
            [showImage]="true"
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false" 
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'#ddef06'"
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <circle-progress 
            [percent]="40" 
            [radius]="100" 
            [imageSrc]="'/assets/angular.png'"
            [showImage]="true"
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false" 
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'#f00006'"
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <circle-progress 
            [percent]="40" 
            [radius]="100" 
            [imageSrc]="'/assets/spring.png'"
            [showImage]="true"
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false" 
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <circle-progress 
            [percent]="60" 
            [radius]="100" 
            [imageSrc]="'/assets/mysql.png'"
            [showImage]="true"
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false" 
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'#34e2de'"
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <circle-progress 
            [percent]="100" 
            [radius]="100" 
            [imageSrc]="'/assets/liderazgo.png'"
            [showImage]="true"
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false" 
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <circle-progress 
            [percent]="100" 
            [radius]="100" 
            [imageSrc]="'/assets/colaborativo.png'"
            [showImage]="true"
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false" 
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="8" 
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="800">
            </circle-progress>
        </div> 
    </div> 
</div> -->